body {
  margin: 0;
  padding: 0;
  background-image: url('https://www.shutterstock.com/image-photo/english-dictionary-letters-flying-out-260nw-745916761.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://www.shutterstock.com/image-photo/english-dictionary-letters-flying-out-260nw-745916761.jpg') center/cover no-repeat;
  color: white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  background: linear-gradient(to bottom, #4CAF50, #45a049); 
  color: white;
}

button:hover {
  background-color: #4CAF80; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: scale(1.1); 
  filter: drop-shadow(0 0 0.5em #646cff);
}

.inside:hover {
  color: #46a0f5;
  text-decoration: underline;
}
